{% extends "base.html" %}
{% block title %}Flasky{% endblock %}

{% block page_content %}
        <div class="post-content">
            <div class="post-date">{{ post.time_add }}</div>
            <p>{{ post.name }}</p>
            <div class="post-body">
                {{ post.body }}
            </div>
            <div class="post-footer">
                <a href="">
                    <span class="label label-danger">编辑</span>
                </a>

            </div>
        </div>


    {% for comment in comments %}

    <div class="panel panel-success">

	<div class="panel-body">
                <div class="post-thumbnail">
            <a href="">
                <img style="width: 35px;length:35px;" class="img-rounded profile-thumbnail" src="{{ url_for('static', filename='jerry.jpeg') }}">
            </a>
        </div>
            <p>{{ comment.body }}</p>
            <div class="post-footer">
				<span class="label label-success">{{ comment.time_add }}</span>
            </div>
        </div>
	</div>
    {% endfor %}


{% endblock %}