{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
{% if session.user %}
<div class="page-header">
    <h1>Hello, Master!</h1>
</div>
{% else %}
<div class="page-header">
    <h1>Hello, Stranger!</h1>
</div>
{% endif %}

<p>
    {% for cate in cates %}
    <a  href="/cate/{{cate.id}}/"><button style="margin-top: 10px" type="button" class="btn btn-default {% if  category.id == cate.id %}active{% endif %}  ">{{ cate.cate }}</button></a>
    {% endfor %}
</p>


<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="">
                <img style="width: 35px;length:35px;" class="img-rounded profile-thumbnail" src="{{ url_for('static', filename='jerry.jpeg') }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ post.time_add }}</div>
            <p>{{ post.name }}</p>
            <div class="post-body">
                {{ post.body }}
            </div>
            <div class="post-footer">
                <a href="/detail/{{ post.id }}">
                    <span class="label label-primary">详情</span>
                </a>
                {% if session.user %}
                <a href="/edit/{{ post.id }}">
                    <span class="label label-danger">编辑</span>
                </a>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}