{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Flasky{% endblock %}

{% block page_content %}
{% if session.user %}
<div class="page-header">
    <h1>Hello, Master!</h1>
</div>
{% else %}
<div class="page-header">
    <h1>Hello, Stranger!</h1>
</div>
{% endif %}

<p style="margin-bottom: 70px">
    {% for cate in cates %}
    <a  href="/cate/{{cate.id}}/"><button style="margin-top: 10px" type="button" class="btn btn-default {% if  category.id == cate.id %}active{% endif %}  ">{{ cate.cate }}</button></a>
    {% endfor %}
</p>



    {% for post in posts %}
<div class="panel panel-success">
    	<div class="panel-heading">
		<h3 class="panel-title">{{ post.name }}</h3>
	</div>
	<div class="panel-body">
            <p>{{ post.desc }}</p>
            <div class="post-footer">
				<span class="label label-success">{{ post.time_add }}</span>
                <span class="label label-danger">{{ post.cate }}</span>
                <a href="/detail/{{ post.id }}">
                    <span class="label label-primary">详情</span>
                </a>
                 {% if session.user %}
                <a href="/edit/{{ post.id }}">
                    <span class="label label-danger">编辑</span>
                </a>
                {% endif %}
            </div>
        </div>
	</div>
    {% endfor %}
<!--分页-->
{% if pagination %}
<div  style="text-align: center" class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}

{% endblock %}