{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
        <div id="layout">
        <div id="test-editormd-view2">
            <textarea id="append-test" style="display:none;"><h1>{{ post.name }}</h1>
{{ post.body}}</textarea>
            </div>
        </div>

<div>
    {{ wtf.quick_form(form) }}
</div>

<ul style="margin-top: 100px" class="posts">
    {% for comment in comments %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="">
                <img style="width: 35px;length:35px;" class="img-rounded profile-thumbnail" src="{{ url_for('static', filename='jerry.jpeg') }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ comment.time_add }}</div>
            <p>{{ comment.name }}</p>
            <div class="post-body">
                {{ comment.body }}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block scripts %}


        <!-- <script src="js/zepto.min.js"></script>
		<script>		
			var jQuery = Zepto;  // 为了避免修改flowChart.js和sequence-diagram.js的源码，所以使用Zepto.js时想支持flowChart/sequenceDiagram就得加上这一句
		</script> -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/marked.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/prettify.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/raphael.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/underscore.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/sequence-diagram.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/flowchart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/jquery.flowchart.min.js') }}"></script>
        <script src="{{ url_for('static', filename='ba/editormd.js') }}"></script>

        <script type="text/javascript">
            $(function() {
                var testEditormdView, testEditormdView2;
                
                $.get("test.md", function(markdown) {
                    
				    testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                        markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                        //toc             : false,
                        tocm            : true,    // Using [TOCM]
                        //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                        //gfm             : false,
                        //tocDropdown     : true,
                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                        emoji           : true,
                        taskList        : true,
                        tex             : true,  // 默认不解析
                        flowChart       : true,  // 默认不解析
                        sequenceDiagram : true,  // 默认不解析
                    });
                    
                    //console.log("返回一个 jQuery 实例 =>", testEditormdView);
                    
                    // 获取Markdown源码
                    //console.log(testEditormdView.getMarkdown());
                    
                    //alert(testEditormdView.getMarkdown());
                });
                    
                testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });
            });
        </script>
{% endblock %}