{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>结果</h1>
</div>
    {% for post in posts %}
<div class="panel panel-success">
    	<div class="panel-heading">
		<h3 class="panel-title">{{ post.name }}</h3>
	</div>
	<div class="panel-body">
            <p>{{ post.desc }}</p>
            <div class="post-footer">
				<span class="label label-success">{{ post.time_add }}</span>
                <span class="label label-danger">{{ post.cate }}</span>
                <a href="/detail/{{ post.id }}">
                    <span class="label label-primary">详情</span>
                </a>
                 {% if session.user %}
                <a href="/edit/{{ post.id }}">
                    <span class="label label-danger">编辑</span>
                </a>
                {% endif %}
            </div>
        </div>
	</div>
    {% endfor %}
{% endblock %}